#usuario {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px;
}

#senha{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#conteiner{
  margin: 80px 15%;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 10px;
  background-color: #EEE;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
}

.btn{
    background-color: #3eb0eb;
    transition: 0.5s;
}

.btn:hover{
    background-color: white;
    color: black;
}

.form-control {
    padding: 10px;
    font-size: 16pt;
    height: auto;
}

form {
    width: 50%;
    margin: auto;
}

h1{
  color: #3eb0eb;
  margin-bottom: 50px;
  text-shadow: 1px 1px 1px rgba(#3eb0eb, 0.5);
}

h2{
  margin: 10px;
  color: #4d4d4d;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

section{
  margin: 30px;
}

table{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

table a{
  margin: 10px;
  padding: 20px 40px;
  background-color: #3eb0eb;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 15pt;
  transition: 0.5s;
}

table a:hover{
  background-color: white;
  color: black;
}

fieldset{
    margin-bottom: 20px;
    transition: 0.5s;
}

body{
  background-color: #252525;
  font-family: monospace sans-serif;
}
