

header {
    width: 100%;
}

section {
    margin: auto;
}

nav#menu-corpo{
  font-size: 15px;
  background-color: #333333;
  padding: 10px;
  top: 0px;
  margin: auto;
}

nav#menu-corpo ul{
  text-decoration: none;
  margin: 30px;

}

nav#menu-corpo li{
  display: inline-block;
}

nav#menu-corpo h2{
  display: none;
}

nav#menu-corpo a{
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: #888888;
  border-radius: 5px;
  margin: 5px;
  transition: 0.2s
}

nav#menu-corpo a:hover{
  text-decoration: underline;
  color: black;
  background-color: white;
}

div#nav ul{
    display: inline-block;
}


.espaco{
  height: 130px;
}

.esquerda{
  float: left;
}

.escondido {
    display: none;
}

.corpo {
    width: 80%;
    margin: auto;
}

.tabela-de-adicao {
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.botao-normal{
    border-radius: 10px;
    box-shadow: 1px, 1px, 5px, rgba(0, 0, 0, 0.5);
}

.botao-normal:hover{
    background-color: #999999;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.white-gradient-bottom {
    background-image: linear-gradient(to bottom, white, rgb(189, 189, 189));
}

.gray-gradient-bottom {
    background-image: linear-gradient(to bottom, rgb(143, 143, 143), rgb(68, 68, 68));
}
